$color-primario: #f0f0f0;
$color-primario-hover: #342375;

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
    padding: 0.5rem 5rem;
    background-color: #342305;

    &__a{
        color:$color-primario;

        &:hover{
            color: $color-primario-hover;
        }
    }
}

